.colum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  flex: none;
  margin-left: 0px;
}
p {
  margin-bottom: 3px;
  color: white;
}
